<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite>
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="tests/junit.xml" logIncompleteSkipped="false" />
    </logging>
</phpunit>
