html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #eee;
  padding-top: 70px;
}
a.haext:hover{
  text-decoration:none !important;
}
a.haext ul li img{
  border: none;
  padding: 0;
}
#content {
  background: #ffffff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px #888888;
  -moz-box-shadow: 0 0 1px #888888;
  box-shadow: 0 0 1px #888888;
}
footer {
  padding: 10px  5px  5px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 8px;
}
footer p {
	font-size: 11px;
	line-height: 11px;
}
li {
	color: #404040;
	line-height: 23px;
}
.span15 {
	padding: 0 30px;
	width: 820px;
}
img{
	border: 1px solid #888888;
	padding: 5px;
}

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #555555;
}

.disqus{
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 1px #888888;
  padding: 20px;
}

.ulsections li {
  margin-left: -5px;
}

/*==============================================
 * API docs styling
 *==============================================
 */
 section > .row {
   margin-bottom: 10px;
 }


 /* Specific jumbotrons
 ------------------------- */
 /* main docs page */
 .masthead {
   background-color: #049cd9;
   background-repeat: no-repeat;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
   background-image: -webkit-linear-gradient(#004D9F, #049cd9);
   background-image: -moz-linear-gradient(#004D9F, #049cd9);
   background-image: -o-linear-gradient(top, #004D9F, #049cd9);
   background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0); /* IE8 and down */
 }
 /* supporting docs pages */
 .subhead {
   background-color: #767d80;
   background-repeat: no-repeat;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
   background-image: -webkit-linear-gradient(#565d60, #767d80);
   background-image: -moz-linear-gradient(#565d60, #767d80);
   background-image: -o-linear-gradient(top, #565d60, #767d80);
   background-image: -khtml-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565d60', endColorstr='#767d80', GradientType=0); /* IE8 and down */
 }
 .subhead .inner {
   padding: 36px 0 27px;
 }
 .subhead h1,
 .subhead p {
   text-align: left;
 }
 .subhead h1 {
   font-size: 40px;
 }
 .subhead p a {
   font-weight: normal;
 }


 /* Quickstart section for getting le code
 -------------------------------------------------- */
 .quickstart {
   background-color: #f5f5f5;
   background-repeat: repeat-x;
   background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
   background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
   background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
   background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
   background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
   background-image: linear-gradient(#f9f9f9, #f5f5f5);
   border-top: 1px solid #fff;
   border-bottom: 1px solid #eee;
 }
 .quickstart .container {
   margin-bottom: 0;
 }
 .quickstart .row {
   margin: 0 -20px;
   -webkit-box-shadow: 1px 0 0 #f9f9f9;
   -moz-box-shadow: 1px 0 0 #f9f9f9;
   box-shadow: 1px 0 0 #f9f9f9;
 }
 .quickstart [class*="span"] {
   width: 285px;
   height: 117px;
   margin-left: 0;
   padding: 17px 20px 26px;
   border-left: 1px solid #eee;
   -webkit-box-shadow: inset 1px 0 0 #f9f9f9;
   -moz-box-shadow: inset 1px 0 0 #f9f9f9;
   box-shadow: inset 1px 0 0 #f9f9f9;
 }
 .quickstart [class*="span"]:last-child {
   border-right: 1px solid #eee;
   width: 286px;
 }
 .quickstart h6,
 .quickstart p {
   line-height: 18px;
   text-align: center;
   margin-bottom: 9px;
   color: #333;
 }
 .quickstart .current-version,
 .quickstart .current-version a {
   color: #999;
 }
 .quickstart h6 {
   color: #999;
 }
 .quickstart textarea {
   display: block;
   width: 275px;
   height: auto;
   margin: 0 0 9px;
   line-height: 21px;
   white-space: nowrap;
   overflow: hidden;
 }


 /* Special grid styles
 -------------------------------------------------- */
 .show-grid {
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .show-grid [class*="span"] {
   background: #eee;
   text-align: center;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   min-height: 30px;
   line-height: 30px;
 }
 .show-grid:hover [class*="span"] {
   background: #ddd;
 }
 .show-grid .show-grid {
   margin-top: 0;
   margin-bottom: 0;
 }
 .show-grid .show-grid [class*="span"] {
   background-color: #ccc;
 }


 /* Render mini layout previews
 -------------------------------------------------- */
 .mini-layout {
   border: 1px solid #ddd;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
   box-shadow: 0 1px 2px rgba(0,0,0,.075);
 }
 .mini-layout {
   height: 240px;
   margin-bottom: 20px;
   padding: 9px;
 }
 .mini-layout div {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
 }
 .mini-layout .mini-layout-body {
   background-color: #dceaf4;
   margin: 0 auto;
   width: 240px;
   height: 240px;
 }
 .mini-layout.fluid .mini-layout-sidebar,
 .mini-layout.fluid .mini-layout-header,
 .mini-layout.fluid .mini-layout-body {
   float: left;
 }
 .mini-layout.fluid .mini-layout-sidebar {
   background-color: #bbd8e9;
   width: 90px;
   height: 240px;
 }
 .mini-layout.fluid .mini-layout-body {
   width: 300px;
   margin-left: 10px;
 }


 /* Topbar special styles
 -------------------------------------------------- */
 .topbar-wrapper {
   position: relative;
   height: 40px;
   margin: 5px 0 15px;
 }
 .topbar-wrapper .topbar {
   position: absolute;
   margin: 0 -20px;
 }
 .topbar-wrapper .topbar .topbar-inner {
   padding-left: 20px;
   padding-right: 20px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
 }

 /* Topbar in js docs
 ------------------------- */
 #bootstrap-js .topbar-wrapper {
   z-index: 1;
 }
 #bootstrap-js .topbar-wrapper .topbar {
   position: absolute;
   margin: 0 -20px;
 }
 #bootstrap-js .topbar-wrapper .topbar .topbar-inner {
   padding-left: 20px;
   padding-right: 20px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
 }
 #bootstrap-js .topbar-wrapper .container {
   width: auto;
 }


 /* Popover docs
 -------------------------------------------------- */
 .popover-well {
   min-height: 160px;
 }
 .popover-well .popover {
   display: block;
 }
 .popover-well .popover-wrapper {
   width: 50%;
   height: 160px;
   float: left;
   margin-left: 55px;
   position: relative;
 }
 .popover-well .popover-menu-wrapper {
   height: 80px;
 }
 img.large-bird {
   margin: 5px 0 0 310px;
   opacity: .1;
 }

 /* Pretty Print
 -------------------------------------------------- */
 pre.prettyprint {
   overflow: hidden;
 }

 

 /* Bootstrap 3 - minor theme fixes
 -------------------------------------------------- */

.page-header {
    margin: 10px 0;
    margin: -17px 0 10px;
}

.jumbotron {
    margin: 9px -15px 20px;
}

footer {
    font-size: 8px;
    margin: 10px 0 12px;
    padding: 0;
}

footeridx {
    margin: -10px -10px 12px;
}

.thumbnail {
	display: block;
	padding: 4px;
	line-height: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin-right:15px;
}
.span4 {
	width: 220px;
}
